body
{
	background-color:#bf434f;
	color:#fff;
	font-size:18px;
	font-family: 'Bentham', serif;
}

#header-nav
{
	background-color:orange;
	border:0;
	border-radius:0;
	height:150px;
}

#logo-img
{
	background-image:url('logo1.png');
}